<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
<h1>AI Киносоветчик</h1>
<p>Введите фразу о своём настроении. Искусственный интеллект подберёт фильм.</p>
<form method="post">
    <textarea name="message" id="message" cols="50" rows="4" required>{{ user_text }}</textarea><br>
    <button type="submit">Анализировать</button>
</form>
{% if recommendation %}
<div class="result">
    <h3>Рекомендация:</h3>
    <p>{{ recommendation|safe }}</p>
</div>
{% endif %}
</body>
</html>